{% extends "base.html" %}
{% block content %}
<div class="navbar">
    {% include "home/navbar.html" %}
</div>

    <div id="main"></div>
    <!--NAVIGATION AREA ENDS-->
    <header>
     <center> <h1 style="color: #ffffcc;text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px green, 0 0 30px green,
      0 0 40px green, 0 0 55px green, 0 0 70px green;">QwanzaNeighborhood<i class="fas fa-search-location"></i></h1></center>
      <h6 style="
       color: white; font-size: 20px;">Learn on what is happening in your community and also make a report if there is any problem.</h6>
    </header>
    
    </div>
    
    <div class="container-fluid mt-5">
      <div class="px-lg-5">
        <div class="row">
          <!-- Gallery item -->
          {%for post in posts%}
          <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            
            <div class="bg-white rounded shadow-sm">
              <p style="margin: 0.5rem;" class="mr-2" href=""><i class="fas fa-house-user"></i>Neighbourhood: {{ post.name }}</p>
              <a href="/project/{{project.id}}">
                <img
                  src="{{ post.image.url }}"
                  alt=""
                  class="img-fluid card-img-top"
                />
              </a>
              <div class="p-4">
                <h5><a href="#" class="text-dark"> {{ post.description }}
                </p></a></h5>
                <p class="small text-muted mb-0"></p>
                
                  <a href="{% url 'homepage:post-detail' post.id %}">View your  Hood
                 </a></p>
               
                   <small style="opacity: 0.8; " class="white-important d-flex full-width flex-row-reverse">
                    Added on: {{ post.date_posted | date:"H:i l, d.m.y" }}
                 </small>
                <div
                  class="
                    d-flex
                    align-items-center
                    justify-content-between
                    rounded-pill
                    px-3
                    py-2
                    mt-4
                  "
                >
                  <p class="small mb-0">
                    <i class="fa fa-picture-o mr-2"></i
                    ><span class="font-weight-bold"> Area`s Location: {{post.location}}</span>
                  </p>
                  <div
                    class="badge badge-primary px-3 rounded-pill font-weight-normal"
                  ></div>
                  <div
                    class="badge badge-success px-3 rounded-pill font-weight-normal"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          {%endfor%}
          <!-- End -->
        </div>
      </div>
    </div>
    



  
    <div class="footer">
        {% include "home/footer.html" %}
    </div>
  </body>


  



{% endblock %}



